@page
@using IsikUn.IncubationCentre.Localization
@using IsikUn.IncubationCentre.Permissions
@using IsikUn.IncubationCentre.Web.Pages.SystemManagers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<IncubationCentreResource> L
@inject IAuthorizationService AuthorizationService
@model DashboardModel
@{
    //Model.CurrentProject = new IsikUn.IncubationCentre.Projects.Project();
}
@section scripts
{
<abp-script src="/Pages/SystemManagers/Dashboard.js" />
}

<style>
    .info-area .border-bottom {
        padding-top: 10px;
    }

    .border-none {
        border: none !important;
    }

    .dataTables_scrollBody {
        min-height: 250px !important;
    }

    body ::-webkit-scrollbar {
        width: 9px;
    }

    body ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        border-radius: 6px;
    }

    body ::-webkit-scrollbar-thumb {
        border-radius: 6px;
        -webkit-box-shadow: inset 0 0 6px #626262e8;
    }

    .nav-link.active {
        background-color: white !important;
    }
</style>
<abp-row>
    <abp-column size="_12">
        <abp-row>
            <abp-column size="_3">
                <abp-card>
                    <abp-card-header>
                        <abp-card-title>
                            @L["GeneralStatics"].Value
                        </abp-card-title>
                    </abp-card-header>
                    <abp-card-body class="pt-1">
                        <div class="icon-area text-center">
                            <div class="border rounded p-1  mx-auto float-center" style="width: 129px;border-radius: 71px !important;height: 129px;padding-top: 27px !important;">
                                <img src="/img/statistics-icon.png" width="120">
                            </div>
                        </div>
                        <div class="info-area">
                            <div style="margin-top: 21px">
                                <abp-card-title>
                                    @L["Members"].Value
                                </abp-card-title>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Total"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfMembers
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Entrepreneurs"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfEntreprenurs
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Collaborators"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfCollaborators
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Mentors"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfMentors
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Investors"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfInvestors
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom border-none">
                                    <abp-column size="_8"><b>@L["SystemManagers"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfSystemManagers
                                    </abp-column>
                                </abp-row>
                                <abp-card-title class="mt-4">
                                    @L["Projects"].Value
                                </abp-card-title>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Total"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjects
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["InReview"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsInReview
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Approved"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsApproved
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Declined"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsDeclined
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Started"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsStarted
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["OnGoing"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsOnGoing
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Suspended"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsSuspended
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom">
                                    <abp-column size="_8"><b>@L["Canceled"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsCanceled
                                    </abp-column>
                                </abp-row>
                                <abp-row class="border-bottom border-none">
                                    <abp-column size="_8"><b>@L["Completed"].Value:</b></abp-column>
                                    <abp-column size="_4" class="text-end">
                                        @Model.NumOfProjectsCompleted
                                    </abp-column>
                                </abp-row>
                            </div>
                        </div>
                    </abp-card-body>
                </abp-card>
            </abp-column>
            <abp-column size="_9">
                <abp-row>
                    <abp-column size="_12">
                        <abp-card style="max-height: 300px;height: 300px">
                            <abp-card-header>
                                <abp-card-title class="d-inline-block">
                                    @L["Requests"].Value
                                </abp-card-title>
                                <abp-button id="NewRequestButton"
                                            text="@L["NewRequest"].Value"
                                            icon="plus"
                                            class="float-end"
                                            button-type="Primary" />
                            </abp-card-header>
                            <abp-card-body>
                                <abp-row>
                                    <abp-column size-sm="_12" size-md="_6" size-lg="_6" size-xl="_6">
                                        <abp-card-title class="border-bottom me-2">
                                            @L["Recived"].Value
                                        </abp-card-title>
                                        <div style="max-height: 188px !important;overflow-y: auto;padding-right: 10px">
                                            @if (Model.ReceivedRequests != null && Model.ReceivedRequests.Count() > 0)
                                            {
                                                <table style="width:100%">
                                                    <tbody class="pe-2">

                                                        <tr>
                                                            <th style="width:41%">@L["Title"].Value</th>
                                                            <th style="width:31%">@L["Sender"].Value</th>
                                                            <th style="width:28%">@L["Date"].Value</th>
                                                        </tr>
                                                        @for (var i = 0; i < Model.ReceivedRequests.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td class="py-2" data-long-name="true" data-long-name-size="18">@(!string.IsNullOrEmpty(Model.ReceivedRequests[i].Title) ? Model.ReceivedRequests[i].Title : "-")</td>
                                                                @if (Model.ReceivedRequests[i].Sender != null &&
                                                               Model.ReceivedRequests[i].Sender.IdentityUser != null &&
                                                               !string.IsNullOrEmpty(Model.ReceivedRequests[i].Sender.IdentityUser.Name) &&
                                                               !string.IsNullOrEmpty(Model.ReceivedRequests[i].Sender.IdentityUser.Surname)
                                                               )
                                                                {
                                                                    <td class="py-2" data-long-name="true" data-long-name-size="12">@string.Format("{0} {1}",Model.ReceivedRequests[i].Sender.IdentityUser.Name, Model.ReceivedRequests[i].Sender.IdentityUser.Surname)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="py-2">-</td>
                                                                }
                                                                <td class="py-2">@(Model.ReceivedRequests[i].CreationTime.ToString("dd/MM/yyyy HH:MM"))</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="text-center my-5">
                                                    <span class="alert alert-info">@L["NoFoundRecivedRequests"]</span>
                                                </div>
                                            }
                                        </div>
                                    </abp-column>
                                    <abp-column size-sm="_12" size-md="_6" size-lg="_6" size-xl="_6">
                                        <abp-card-title class="border-bottom">
                                            @L["Sent"].Value
                                        </abp-card-title>
                                        <div style="max-height: 188px !important;overflow-y: auto;padding-right: 10px">
                                            @if (Model.SentRequests != null && Model.SentRequests.Count() > 0)
                                            {
                                                <table style="width:100%">
                                                    <tbody class="pe-2">
                                                        <tr>
                                                            <th style="width:41%">@L["Title"].Value</th>
                                                            <th style="width:31%">@L["SentTo"].Value</th>
                                                            <th style="width:28%">@L["Date"].Value</th>
                                                        </tr>
                                                        @for (var i = 0; i < Model.SentRequests.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td class="py-2" data-long-name="true" data-long-name-size="18">@(!string.IsNullOrEmpty(Model.SentRequests[i].Title) ? Model.SentRequests[i].Title : "-")</td>
                                                                @if (Model.SentRequests[i].Receiver != null &&
                                                               Model.SentRequests[i].Receiver.IdentityUser != null &&
                                                               !string.IsNullOrEmpty(Model.SentRequests[i].Receiver.IdentityUser.Name) &&
                                                               !string.IsNullOrEmpty(Model.SentRequests[i].Receiver.IdentityUser.Surname)
                                                               )
                                                                {
                                                                    <td class="py-2" data-long-name="true" data-long-name-size="12">@string.Format("{0} {1}",Model.SentRequests[i].Receiver.IdentityUser.Name, Model.SentRequests[i].Receiver.IdentityUser.Surname)</td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="py-2">-</td>
                                                                }
                                                                <td class="py-2">@(Model.SentRequests[i].CreationTime.ToString("dd/MM/yyyy HH:MM"))</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <div class="text-center my-5">
                                                    <span class="alert alert-info">@L["NoFoundSentRequests"]</span>
                                                </div>
                                            }
                                        </div>
                                    </abp-column>
                                </abp-row>
                            </abp-card-body>
                        </abp-card>
                    </abp-column>
                    <abp-column size="_12">
                        <abp-card>
                            <abp-card-header>
                                <abp-card-title>
                                    @L["NewApplications"].Value - (@L["WatingForApproved"].Value)
                                </abp-card-title>
                            </abp-card-header>
                            <abp-card-body class="pt-0">
                                <abp-table striped-rows="true" id="NewApplicationTable"></abp-table>
                            </abp-card-body>
                        </abp-card>
                    </abp-column>
                </abp-row>
            </abp-column>
        </abp-row>
    </abp-column>

    <abp-column size="_12">

        <abp-tabs name="TabId">
            <abp-tab name="nav-newProject" active="true" title='@L["NewProjects"].Value'>
                <abp-card>
                    <abp-card-header>
                        <abp-card-title>
                            @L["NewProjects"].Value - (@L["WatingForApproved"].Value)
                        </abp-card-title>
                    </abp-card-header>
                    <abp-card-body>
                        <abp-table striped-rows="true" id="NewProjectsListTable"></abp-table>
                    </abp-card-body>
                </abp-card>
            </abp-tab>
            <abp-tab name="nav-mentorAssigns" title='@L["MentorAssignments"].Value'>
                <abp-card>
                    <abp-card-header>
                        <abp-card-title>
                            @L["MentorAssignments"].Value - (@L["WatingForAssignment"].Value)
                        </abp-card-title>
                    </abp-card-header>
                    <abp-card-body>
                        <abp-table striped-rows="true" id="MentorAssignmentsListTable"></abp-table>
                    </abp-card-body>
                </abp-card>
            </abp-tab>
        </abp-tabs>

    </abp-column>
</abp-row>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" id="projectActionModalButton" data-bs-target="#projectActionFeedbackModal">
</button>

<!-- Modal -projectActionFeedbackModal- -->
<div class="modal fade" id="projectActionFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <div>
                        <h4 class="modal-title" id="projectActionModalTitle">Your Approved Project</h4>
                    </div>
                    <div>
                        <h5 class="modal-title">@L["SendFeedback"].Value</h5>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <textarea id="projectActionModalFeedbackText" rows="8" placeholder="'@L["WannaSendFeedBack"].Value'" style="border-color: #dbd4d4;border-radius: 4px;" class="w-100 p-2"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary float-start float-left" data-bs-dismiss="modal">@L["Close"].Value</button>
                <button type="button" class="btn btn-primary" id="projectActionModalSendButton">@L["Send"].Value</button>
            </div>
        </div>
    </div>
</div>